img, canvas, label, h1, h2, h3, h4, h5, p, ul, li, ol, span, a, button, select, body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

@font-face{
    font-family:'Futura-Med';
    src: local('Futura-Medium'), url('../fonts/Futura-Medium.ttf') format('truetype');
}

*{
    font-family: 'Futura-Med', Arial, sans-serif;
    font-weight: normal;
}

html, body{ width: 100%; height: 100%; margin: 0; padding: 0; }

.view_wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;   
    bottom: 0;
    z-index: 1;
    overflow: hidden;
}

.view{
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    animation: fadeIn 300ms ease both;
    -webkit-animation: fadeIn 300ms ease both;
    overflow: auto;
}

.view.active-view, .modal.active-modal{ display: block; }
.modal{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    display: none;
}

.modal.policy .modal_container{
    top: 10px;
    left: 10px;
    width: 98.5%;
}

.modal.policy .modal_container .modal_content > div .message{
    padding: 20px 0;
}

.modal.policy .modal_container .modal_content > div .message h1{
    margin-top: 0;
    text-align: center;
}

.modal.policy .modal_container .modal_content > div .message{
    padding: 0 20px;
    box-sizing: border-box;
    text-align: left;
}

.modal.policy .modal_container .modal_content > div .message ul{
    list-style: none;
    padding: 0;
}

.modal.policy .modal_container .modal_content > div .message ul li label{
    font-size: 25px;
}

.modal.policy .modal_container .modal_content > div .message ul li p{
    margin-top: 0;
}

.modal.policy .modal_container .modal_content > div .message ul li ul{
    padding-left: 10%;
}

.modal.policy .modal_container .modal_content > div .message ul li ul li label{
    font-size: 20px;
    font-weight: bolder;
}

.modal.policy .modal_container .modal_content > div .message ul li ul li p{
    padding-left: 5%;
}

.modal.policy .modal_container .modal_content > div .message ul li.list ul li p,
.modal.policy .modal_container .modal_content > div .message ul li.list p{
    margin-bottom: 0;
}

.modal.policy .modal_container .modal_content > div{
    overflow: auto;
}

.modal_container{
    position: absolute;
    top: 20%;
    left: 30%;
    background-color: #fff;
    width: 40%;
    /*height: 30%;*/
    box-sizing: border-box;
    border-radius: 10px;
    animation: zoomIn 400ms ease both;
    -webkit-animation: zoomIn 400ms ease both;
}

.modal_content { position: relative; height: 100%; }

.btn{
    background-color: #BE1E2D;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.inner_logo{
    background-color: #BE1E2D;
    width: 135px;
    height: 135px;
    border-radius: 100%;
    position: absolute;
    top: 15px;
    left: 15px;
    overflow: hidden;
}

.inner_logo div{
    background-image: url(images/logo.png);
    background-size: 70% 50%;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat; 
}

/*=========== HOME START =========*/
#home{ 
    background-color: #BE1E2D;
    background-size: 100% 100%;
    background-position: center;
}

#home #settings{
    position: absolute;
    top: 10px;
    right: 10px;
    background-image: url(images/icons/settings.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 55px;
    height: 55px;
}

#home .badge{ position: absolute; top: 25%; right: 0; }
#home .badge > div {
    background-color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#home .badge #syncRegister:before,
#home .badge #syncRecord:before{
    content: "Registered: " attr(data-rec);
    background-image: url(images/icons/sync.png);
    background-size: 16% 80%;
    background-position: left;
    background-repeat: no-repeat;
    padding: 0 0 0 22px;
}

#home .badge #syncRecord:before{
    content: "Earned: " attr(data-rec);
}

#home .logo{
    background-image: url(images/logo.png);
    background-size: 100% 100%;
    width: 30%;
    height: 200px;
    margin: auto;
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

#home .btns{
    position: absolute;
    bottom: 20%;
    left: 10%;
    width: 80%;
}

#home .btns > div.btn_container{ 
    display: inline-block; 
    width: 32.5%; 
    text-align: center; 
    margin: auto; 
}

#home .btns .btn_container .btn{
    background-color: #fff;
    color: #BE1E2D;
    width: 85%;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

#home #url_link{
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    color: #fff;
}

#home #url_link > div{
    display: inline-block;
    font-style: 'Futura-Med';
    text-transform: capitalize;
}

#home #url_link > div:first-child::after{
    content: '|';
    padding: 0 10px;
}
/*=========== HOME END =========*/
/*=========== REGISTER START =========*/

#register .form{
    width: 40%;
    margin: 5% auto 10% auto;
    text-align: center;
}

#register .form .input_container,
#earn .container .input_container,
#redeem .container .input_container{ position: relative; margin-top: 8%; }
#register .form .input_container h2{ margin: 0; }
#register .form .input_container .input_field,
#earn .container .input_field,
#redeem .container .input_field{
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    border-bottom: 2px solid #f5f5f5;
    height: 35px;
    outline: none;
    width: 100%;
}

#register .form .input_container .floating_label,
#earn .container .floating_label,
#redeem .container .floating_label{
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 25%;
    transition: 0.2s ease all;
}

#register .form .input_container .input_field:focus ~ .floating_label,
#register .form .input_container .input_field:not(:focus):valid ~ .floating_label,
#earn .container .input_container .input_field:focus ~ .floating_label,
#earn .container .input_container .input_field:not(:focus):valid ~ .floating_label,
#redeem .container .input_container .input_field:focus ~ .floating_label,
#redeem .container .input_container .input_field:not(:focus):valid ~ .floating_label{
    top: -15px;
    bottom: 10px;
    left: 0;
    font-size: 10px;
    text-transform: uppercase;
    color: gray;
}

#register .form .input_container #scanCard{
    position: absolute;
    top: 4px;
    right: 0;
    bottom: 0;
    padding: 15px 0;
    box-sizing: border-box;
    background-image: url(images/icons/scan.png);
    background-size: 100% 100%;
    width: 30px;
    height: 20px;
}

#register .form #createAccount.btn{
    background-color: #BE1E2D;
    color: #fff;
    margin: 20px 0 0 0;
    padding: 15px 0;
    border-radius: 5px;
}

#register #cancel,
#earn .logout,
#redeem .logout,
#summary .logout{
    position: absolute;
    top: 5%;
    right: 5%;
    width: 10%;
    text-align: center;
}

#register .dob_container{
    overflow: hidden;
    margin-top: 20px;
}

#register .dob_container > div{
    display: inline-block;
    width: 33.3%;
    float: left;
}

#register .dob_container > div select{
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    border-bottom: 1px solid #f5f5f5;
    background-image: url(images/icons/down.png);
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: 95% center;
    background-color: transparent;
    padding: 5px;
    box-sizing: border-box;
}

#register .form .input_container.dob{
    margin: 20px 0 0 0;
    text-align: left;
}

#register .form .input_container label{
    text-align: left;
    font-size: 12px;
    color: gray;
    text-transform: uppercase;
}

#register .form .input_container select{
    width: 100%;
}

/*=========== REGISTER END =========*/
/*=========== MODAL START =========*/
.modal .modal_container .modal_content > div { 
    padding: 10px 0 50px 0;
    box-sizing: border-box;
    height: 100%;
}

.modal .modal_container .modal_content > div .header{
    position: absolute;
    top: 0;
    line-height: 50px;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: #E54B4B;
    width: 100%;
    color: #fff;
}

.modal .modal_container .modal_content > div .footer{
    position: absolute;
    bottom: 0;
    padding: 0 10px;
    box-sizing: border-box;
    width: 100%;
}

.modal .modal_container .modal_content > div .footer > div {
    width: 42%;
    float: left;
    text-align: center;
    margin: 0 0 10px 0;
}

.modal .modal_container .modal_content > div .footer > div.modalConfirm{ float: right; }
.modal .modal_container .modal_content > div .message{
    text-align: center;
    line-height: 1.5;
    font-size: 18px;
    padding: 10% 3%;
    box-sizing: border-box;
}

.modal .modal_container .modal_content > div .message span{ font-size: 12px; }
.modal .modal_container .modal_content > div .message > div { color: #BE1E2D; font-size: 1.3em; }

.modal .modal_container .modal_content > div .footer > div.modalCancel{ background-color: #818181; }
.modal .modal_container .modal_content #withInput .input_field{
    border: 1px solid #ddd;
    width: 50%;
    margin: 25px auto;
    padding: 5px;
    position: relative;
}

.modal .modal_container .modal_content #withInput .input_field #mobilePlacehoder{
    position: absolute;
    top: 5px;
    bottom: 0;
    left: 25px;
    overflow: hidden;
}

.modal .modal_container .modal_content #withInput .input_field input{ 
    width: 100%; 
    outline: none; 
    text-align: left; 
    box-sizing: border-box;
    padding: 0 0 0 27%;
    border: 0;
    -webkit-appearance: none;
}

.modal .modal_container .modal_content #withInput .message{ padding-bottom: 0; }
.modal .modal_container .modal_content #close{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 25px;
    width: 20px;
    height: 20px;
    background-image: url(images/icons/close.png);
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat;
}



.modal #choice,
.modal #withInput,
.modal.policy{ display: none; }
.modal.choice #choice,
.modal.withInput #withInput,
.modal.policy.active-modal{ display: block; overflow: auto;}
/*=========== MODAL END =========*/
/*=========== VERIFICATION START =========*/
#verification .container,
#earn .container,
#summary .container{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
}

#verification .container{ top: 45%; }

#verification .container #code{ width: 100%; overflow: hidden; margin-bottom: 10%; }
#verification .container #code input{
    width: 11%;
    margin: auto; 
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid #7C7C7F;
    text-align: center;
    outline: none;
    font-size: 30px;
    padding: 15px 0;
    margin-right: 30px;
}

#verification .container #code input:last-child{ margin: 0; }
#verification .container #resendCode { padding: 10px 0; box-sizing: border-box; display: inline-block; }
#verify{ width: 50%; margin: auto; margin-top: 10%; }

/*=========== VERIFICATION END =========*/
/*=========== EARN START =========*/
#earn .container{ width: 50%; top: 50%; }
#earn .container h2 { margin-bottom: 20%; }
#earn .container .earn_details { margin: 5% 0; overflow: hidden; display: inline-block; }
#earn .container .earn_details > div { width: 100%; }
#earn .container .earn_details .input input{
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 22px;
    background-color: #fff;
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-sizing: border-box;
}

#earn .container .earn_details .input input#transID{ width: 240px; text-align: center; }
#earn .container .earn_details .input input#earnAmtW { width: 160px; text-align: right; }
#earn .container .earn_details .input input#earnAmtD { width: 60px; text-align: center; }
#earn .container .earn_details .input label { display: inline-block; }
#earn .container .earn_details .input label[for='transID'] { margin-right: 10px; }
#earn .container .earn_details .input label[for='earnAmtW'] { margin-right: 57px; }
#earn .container .earn_details .input .decimal {  
    font-size: 30px;
    vertical-align: bottom;
    display: inline-block;
    margin-bottom: 17px;
}

#earn .container .profile_details > div, #earn .container .store_details > div { line-height: 1.5; }
#earn .container .profile_details .points,
#earn .container .profile_details .card_number{ font-weight: bolder; font-size: 2em; margin-bottom: 10px; }
#earn .container .profile_details .points span { font-size: 20px; }
#earn .container .profile_details .card_number { font-size: 1.3em; color: #BE1E2D; margin-top: 5px; }

/*=========== EARN END =========*/
/*=========== REDEEM START =========*/
#redeem .container .redeem_details{ margin: 3% 0 0 0;text-align: center; }
#redeem .container .redeem_details .points { font-size: 22px; font-weight: bolder; }
#redeem .container .redeem_details .card_number { color: #BE1E2D; font-size: 18px; }
#redeem .container .redeem_details .store_details { margin: 20px 0 0 0; }
#redeem .container #input_amount{ 
    width: 30%; 
    margin: auto; 
    padding: 20px 0; 
    box-sizing: border-box; 
    overflow: hidden;
}

#redeem .container #input_amount label{ float: left; margin: 10px 10px 0 0; }
#redeem .container #input_amount div#redeem_points { width: 100%; float: left; }
#redeem .container #input_amount div#redeem_points input{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px 10px;
    box-sizing: border-box;
    float: left;
    width: 100%;
    text-align: center;
}

#redeem .container #input_amount div#redeem_decimal input{ text-align: center; }

#redeem .container #input_amount span { 
    float: left; 
    width: auto; 
    line-height: 2.5;
    padding: 0 5px;
    font-size: 20px;
}

#redeem .container #empty{
    text-align: center;
    width: 50%;
    margin: auto;
    height: 20%;
}

#redeem .container #empty img{ width: 30%; }
#redeem .container #empty p{ margin: -30px 0 10px 0; color: #bdb8b8; }
    
#redeem .container #vouchers { width: 75%; margin: auto; height: 150px; overflow: auto; }
#redeem .container #vouchers ul { list-style: none; margin: 0; padding: 0; }
#redeem .container #vouchers ul li{ 
    background-color: #7C7C7F; 
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    color: #fff;
    position: relative;
}

#redeem .container #vouchers ul li::after{
    content: attr(data-count);
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: #BE1E2D;
    border-radius: 100px;
    padding: 5px 10px;
    display: block;
    z-index: 10;
}

#redeem .container #vouchers ul li.selected{ 
    background-color: #E54B4B; 
}

#redeem .container #vouchers .swiper-container { height: 100%; }
#redeem .container #vouchers .swiper-container .swiper-slide{
    text-align: center;
    font-size: 18px;
    background: #fff;
    margin: auto;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#redeem .container #submit{
    width: 20%;
    text-align: center;
    margin: 3% auto;
}

/*=========== REDEEM END =========*/
/*=========== SUMMARY START =========*/
#summary .container{ top: 50%; width: 60%; }
#summary .container .elem_container{ margin-bottom: 30px; }
#summary .container .elem_container > div { font-size: 2em; color: #BE1E2D; }
#summary .container .elem_container > label { 
    font-size: 13px; 
    display: block; 
    line-height: 1;
    text-transform: uppercase;
}

#summary .container #close { margin: 8% auto 0 auto; width: 30%; }

/*=========== SUMMARY END =========*/

/*=========== ANIMATION =========*/
@keyframes fadeIn{ from{ opacity: 0; } to{ opacity: 1; }}
@-webkit-keyframes fadeIn{ from{ opacity: 0; } to{ opacity: 1; } }
@keyframes zoomIn {
    from { opacity: 0; -webkit-transform: scale3d(.3, .3, .3); transform: scale3d(.3, .3, .3); }
    50% { opacity: 1;}
}

@-webkit-keyframes zoomIn {
    from { opacity: 0; -webkit-transform: scale3d(.3, .3, .3); transform: scale3d(.3, .3, .3); }
    50% { opacity: 1; }
}
